{% include 'webforms/_chrome.html' %}
<body>
<form name="aspnetForm" method="post" action="{{ url_for('webforms.main') }}" id="aspnetForm">
{% include 'webforms/_postback.html' %}
<table width="100%" cellpadding="0" cellspacing="0"><tr><td style="padding:6px">
  <table class="pnl" width="100%" cellpadding="0" cellspacing="0">
    <tr><td class="hdr" colspan="4">Member Detail &mdash; {{ m.member_id }}</td></tr>
    <tr>
      <td class="lbl">Name:</td>
      <td class="fld"><span id="ctl00_ContentPlaceHolder1_lblName">{{ m.full_name }}</span></td>
      <td class="lbl">Status:</td>
      <td class="fld"><span id="ctl00_ContentPlaceHolder1_lblStatus">{{ m.status }}</span></td>
    </tr>
    <tr>
      <td class="lbl">Tax ID:</td>
      <td class="fld"><span id="ctl00_ContentPlaceHolder1_lblTin">{{ m.masked_ssn }}</span></td>
      <td class="lbl">Servicing Branch:</td>
      <td class="fld"><span id="ctl00_ContentPlaceHolder1_lblBranch">{{ m.branch }}</span></td>
    </tr>
  </table>
  <br>
  <table class="pnl" width="100%" cellpadding="0" cellspacing="0">
    <tr><td class="hdr">Account Relationships</td></tr>
    <tr><td style="padding:6px">
      <table class="grid" cellpadding="0" cellspacing="0" id="ctl00_ContentPlaceHolder1_gvAccounts">
        <tr><th>Account</th><th>Type</th><th>Current Balance</th><th>Status</th></tr>
        {% for a in m.accounts %}
        <tr><td>{{ a.number }}</td><td>{{ a.kind }}</td>
            <td align="right">{{ '%.2f'|format(a.balance) }}</td><td>{{ a.status }}</td></tr>
        {% endfor %}
      </table>
    </td></tr>
    <tr><td style="padding:6px">
      <a id="ctl00_ContentPlaceHolder1_btnOpenSub" class="btn"
         href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$btnOpenSub','')">Open Sub-Account</a>
      &nbsp;
      <a id="ctl00_ContentPlaceHolder1_btnBack" class="btn"
         href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$btnBack','')">Back to Inquiry</a>
    </td></tr>
  </table>
</td></tr></table>
</form>
</body>
