{% include 'webforms/_chrome.html' %}
<body>
<form name="aspnetForm" method="post" action="{{ url_for('webforms.main') }}" id="aspnetForm">
{% include 'webforms/_postback.html' %}
<table width="100%" cellpadding="0" cellspacing="0"><tr><td style="padding:6px">
  <table class="pnl" width="100%" cellpadding="0" cellspacing="0">
    <tr><td class="hdr" colspan="2">Open Sub-Account &mdash; {{ m.member_id }} {{ m.full_name }}</td></tr>
    <tr>
      <td class="lbl">Account Type:</td>
      <td class="fld"><select name="ctl00$ContentPlaceHolder1$ddlAcctType" id="ctl00_ContentPlaceHolder1_ddlAcctType">
        <option value="">(Select)</option>
        <option value="Savings"{% if form.acct_type=='Savings' %} selected{% endif %}>Savings</option>
        <option value="Checking"{% if form.acct_type=='Checking' %} selected{% endif %}>Checking</option>
        <option value="Certificate"{% if form.acct_type=='Certificate' %} selected{% endif %}>Certificate</option>
      </select></td>
    </tr>
    <tr>
      <td class="lbl">Initial Deposit:</td>
      <td class="fld"><input name="ctl00$ContentPlaceHolder1$txtInitial" type="text" maxlength="12" size="14"
            id="ctl00_ContentPlaceHolder1_txtInitial" value="{{ form.initial|e }}"></td>
    </tr>
    {% if errors %}
    <tr><td colspan="2" class="err">
      <span id="ctl00_ContentPlaceHolder1_valSummary">
      {% for e in errors %}&bull; {{ e }}<br>{% endfor %}</span></td></tr>
    {% endif %}
    <tr><td colspan="2" class="fld">
      <a id="ctl00_ContentPlaceHolder1_btnSubmit" class="btn"
         href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$btnSubmit','')">Submit</a>
      &nbsp;
      <a id="ctl00_ContentPlaceHolder1_btnCancel" class="btn"
         href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$btnCancel','')">Cancel</a>
    </td></tr>
  </table>
</td></tr></table>
</form>
</body>
