{% include 'summit/_chrome.html' %}
<body>
<form name="customerSearchForm" method="post" action="{{ url_for('summit.search_submit') }}">
<input type="hidden" name="org.apache.struts.taglib.html.TOKEN" value="{{ token }}">
<table class="outer" width="100%" cellpadding="0" cellspacing="0"><tr><td>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr><td class="sect" colspan="4">Customer Lookup</td></tr>
    <tr><td colspan="4"><img src="{{ url_for('summit.spacer') }}" width="1" height="1" border="0" alt=""></td></tr>
    <tr>
      <td class="cap"><font face="Verdana">Customer Nbr / Surname:</font></td>
      <td><input type="text" name="customerNbr" size="22" maxlength="32" value="{{ term|e }}"></td>
      <td class="cap"><font face="Verdana">Servicing Office:</font></td>
      <td><select name="officeCd">
            <option value="">-- all --</option>
            <option value="002">002 Sweetwater</option>
            <option value="004">004 Escalante</option>
            <option value="009">009 Las Mudas</option>
          </select></td>
    </tr>
    <tr><td colspan="4">
      <input type="submit" name="submitAction" value="Retrieve" class="b">
      <input type="submit" name="submitAction" value="Reset" class="b">
    </td></tr>
    {% if message %}<tr><td colspan="4" class="msg">{{ message }}</td></tr>{% endif %}
  </table>
</td></tr></table>
{% if results is not none %}
<br>
<table class="outer" width="100%" cellpadding="0" cellspacing="0"><tr><td>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr><td class="sect">Retrieved Customers &mdash; {{ results|length }} row(s)</td></tr>
    <tr><td>
      <table class="lst" cellpadding="0" cellspacing="0">
        <tr><th>&nbsp;</th><th>Customer Nbr</th><th>Surname, Given</th>
            <th>Rel Status</th><th>Office</th><th>Rel Accts</th></tr>
        {% for m in results %}
        <tr>
          <td><input type="submit" name="selectCustomer" value="Open" class="b"
                     onclick="document.customerSearchForm.selectedIdx.value='{{ loop.index0 }}'"></td>
          <td>{{ m.member_id }}</td><td>{{ m.last_name }}, {{ m.first_name }}</td>
          <td>{{ m.status }}</td><td>{{ m.branch }}</td><td>{{ m.accounts|length }}</td>
        </tr>
        {% endfor %}
      </table>
    </td></tr>
  </table>
</td></tr></table>
{% endif %}
<input type="hidden" name="selectedIdx" value="">
</form>
</body>
